div {
  font-family: "Anselm Sans Bold";
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: gray solid 1px;
}

.header img {
  max-width: 160px;
  max-height: 80px;
  margin-left: 500px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Ajoutez cette ligne pour aligner le texte et l'image verticalement */
}

.restaurant-image {
  width: 350px;
  height: 197px;
  object-fit: cover;
  border-radius: 3%;
  margin-right: 20px;
}

.restaurant-description {
  width: 500px;
}

.description {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-items: center;
}

.restaurant-info {
  display: flex;
  flex-direction: column; /* Organiser les éléments en colonne (verticalement) */
  margin-right: 20px; /* Ajouter une marge à droite pour un espacement entre le texte et l'image */
}

.img-meal {
  width: 130px;
  height: 130px;
  border-radius: 5px;
  object-fit: cover;
}

.meal {
  /* background: slateblue; */
  width: 400px;
  height: 160px;
  border: 1px solid #000; /* crée une bordure d'1 pixel, de couleur noire */
  padding: 10px; /* ajoute un peu d'espace entre le contenu de la "boîte" et sa bordure */
  margin-bottom: 10px; /* ajoute un peu d'espace entre chaque "boîte" */
  border-radius: 5px;
  margin: 10px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: white;
  align-items: center;
}

div {
}

.meal-text {
  /* background: lavenderblush; */
}

.meal-img {
}

.meal-img img {
  height: 130px;
  width: 130px;
}

.meal-description {
  overflow: hidden;
  max-height: 75px;
}

.category {
  gap: 20px;
  justify-content: center;
  align-items: center;
  grid-auto-flow: dense; /* ajoutez cette ligne */
  background-color: #f3f5f5;
}

.meals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  grid-auto-flow: dense;
  margin: auto;
  max-width: 900px;

  /* Ajustez cette valeur pour modifier la largeur maximale de votre grille */
}

h2 {
  margin-left: 500px;
}

h3 {
  margin: 20;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px; /* Ajustez cet espace comme vous le souhaitez */
}
